body,html{
    position: relative;
    height: 100%;
}
.solid{
    position: fixed;
    background: #000000 !important;
    height: 51px;
    width: 100%;
    transition: All 0.5s ease-in-out;
  }
.navbar{
    background:transparent ; 
}

.header{
    padding-top: 13px;
    padding-bottom: 13px;
    background-color:#2d2d2d;
}
.text-white-color{
    color:#f5f5f5 !important;
    cursor: normal;
}
.text-href{
    text-decoration: none !important;
    cursor: pointer;
}
.head-icon{
    color:#fa6e61 !important;
}
.head-icon1{

    color:#fa6e61 !important;
}
.head-icon1:hover{
    color:#f5f5f5 !important;
    transition: all 0.2s ease-in-out;
}
/* navbar */
.navbar-dark {
    background-color:#3d3d3d !important;
}
.navbar-brand img{
    height:30px !important;
     width:87px !important;
}
.navbar-nav{

}
.nav-link{
    color:#FFFFFF !important;
    font-size: 20px !important;
    font-family: 'Open Sans', sans-serif;
}
.search{
    
}
.search button{
    background: none;
    border: none;
}
.search i{
    color:#FFFFFF;
    font-size: 22px;
}
.hover-black{

    height: 50px;
    width: 150px;
    font-size:33px;
    border-radius:35px !important;   
    background-color:#fa6e61 !important;
    color:#ffffff !important;
}
.hover-black:hover{
    background: #2d2d2d !important;
}










/* .nav li:nth-child(1){
    border-bottom: 1px solid #fff;
  }
.nav li:nth-child(2):hover{
  border-bottom: 1px solid #fff;    
  transform:translate(2px); 
  transition:  border-bottom 0.4s ease-in-out;
}
.nav li:nth-child(3):hover{
  border-bottom: 1px solid #fff;
  transform:translate(2px); 
  transition: all 0.4s ease-in-out;
}
.nav li:nth-child(4):hover{
  border-bottom: 1px solid #fff;
  transform:translate(2px); 
  transition: all 0.4s ease-in-out;
}
.nav li:nth-child(5):hover{
  border-bottom: 1px solid #fff;
  transform:translate(2px); 
  transition: all 0.4s ease-in-out;
}
.nav li:nth-child(6):hover{
  border-bottom: 1px solid #fff;
  transform:translate(2px); 
  transition: all 0.4s ease-in-out;
} */
/* home */
.home{
    margin-top:-66px ;
    background: url('images/bg-software-house.jpg')no-repeat  ; 
    height:auto;
    width: 100%;
    background-size: 100% 100% ;
    padding-top:180px;
    padding-bottom: 100px;
}
.home h1{
    color:#FFFFFF !important;    
    font-size: 80px !important;  
    font-weight: 200 !important;    
}
.home p{
    padding-top:17px;
    color:#f5f5f5;
    font-size:20px;
    font-weight: 200 !important;      
}   
.hover-white{
    margin-top:20px !important;
    height: 60px;
    width: 150px;
    font-size:33px;
    background-color:#fa6e61 !important;
    color:#ffffff !important;
}
.hover-white:hover{
    background-color:#ffffff !important;
    color:#fa6e61 !important;
}
.btn-transparent{
    margin-top:20px !important;
    padding-top:16px;
    height: 60px;
    width: 150px;
    font-size:33px;
    background-color:transparent !important;
    color:#ffffff !important;
    border:2px solid #FFFFFF !important;
}
/* service */
.service{
    background: url('images/hp-service-bg-1.jpg')no-repeat; 
    height:auto;
    width: 100%;
    background-position: center top left;
    padding-top:100px;
    padding-bottom:100px;

}
.service-text h2{
    padding-bottom:40px; 
    padding-left: 30px;
    color:#27255f !important;
    font-weight: 700 !important;
    font-size: 32px;
    word-spacing: 6px;
}

.service h3{
    padding-top: 15px;
    color:#323232;
    font-size: 22px;
}
.service p{
    padding-top: 10px;
    color:#727272;
    font-size: 16px !important;
    line-height: 23px;
    font-family: 'Barlow Condensed', sans-serif;
}

.service a{
    padding-top: 10px;
    color:#353535;
    font-size: 16px;
    text-decoration: none !important;
    cursor: pointer !important;
}
.service a:hover{
    color:#fa6e61 !important;
}
/*Tool*/
.tool{
    background: url('images/hp-service-2-bg.png')no-repeat; 
    height:auto;
    width: 100%;
    background-position:top center;
    padding-top:100px;

}
.tool-text h3{
    color:#27255f !important;
    font-weight: 700 !important;
    font-size: 34px;
    word-spacing: 6px;
}
.tool-text p{
    padding-top: 23px;
    color:#8A8A8A;
    font-size:22px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.tool-btn{
    margin-top:20px !important;
    padding-top:16px;
    height: 60px;
    width: 150px;
    font-size:33px;
    background-color:transparent !important;
    color:#fa6e61 !important;
    border:2px solid #fa6e61 !important;   
}
/* Solutions */
.solution{
    padding-top:100px;
    padding-bottom:100px; 
}
.solution-text h3{
    padding-top: 100px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #27255f;
}
.solution-text p{
    padding-top: 23px;
    color:#8A8A8A;
    font-size:19px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.solution h4{
    color: #383838;
    font-size: 22px;
    font-weight: 500;
    text-transform: none;
}
.solution p{
    padding-top: 23px;
    color:#8A8A8A;
    font-size:19px;
    font-family: 'Open Sans Condensed', sans-serif;
}
/* video */
.video{
    background: url('images/meeting.jpg')no-repeat; 
    height:100%;
    width: 100%;
    background-size:cover; 
    background-position:top center;
    padding-top:100px;
}
.video img{
    padding-top: 150px !important;
}
.video p{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
}
/* CASESTUDY */
.casestudy{
    background: url('images/hp-port-bg.png');
    height:100%;
    width: 100%;
    background-position: top center;
    padding-top:100px ;
}
.case-text h3{
    color:#272460;
    font-size: 34px;
}
.case-text p{
    font-size:16px;
    color:#8A8A8A; 
}
/* facts */
.facts{
    padding-top:200px;
    padding-bottom:100px;
}
.facts p{
    font-size: 17px;
    color:#BBBBBB; 
}
.facts h3{
    color:#272460;
    font-size: 51px;
}
.count{
    color:#272460;
    font-size: 51px;
}
.swiper-container {
    width: 100%;
    height: 100%;

  }
.swiper-slide {
    padding-top: 80px;
    text-align: center;
    font-size: 18px;
    align-items: center;
  }
  .casestudy a{
      color:#191919;
      font-size: 21px;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      cursor: pointer;
  }
  .casestudy a:hover{
      color:#fa6e61;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  }
.swiper-pagination{
    color:#fa6e61;
}
/* SKILLS */
.skills{
    background: url('images/hp-skill-bg-2.png');
    height:auto;
    width: 100%;
    background-position: top center;
    padding-top:100px ;
    padding-bottom: 100px;
}
.skills h3{
    padding-top: 100px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #27255f;
}
.skills p{
    font-size:16px;
    color:#8A8A8A; 
}
.skill-text{
    color: #181818;
    font-size: 17px;
}
.skill-num{
    color:#8E8E8E;
    font-size:17px;
}
.bar{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#dcdcdc;
    display:block;
    height:6px; 
    border: none;
    border-radius:3px;
    overflow:hidden;
}
.bar span{
    height: 6px;
    float:left;
    background-color:rgb(255, 111, 97);
}   
.development{
    width: 100%;
    animation: skill-1 2s;
}
@keyframes skill-1{
    0%{
        width:0%;
    }
    100%{
        width:100%;
    }
}
.user-interface{
    width: 90%;
    animation: skill-2 2s;
}
@keyframes skill-2{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}
.user-experience{
    width: 80%;
    animation: skill-3 2s;
}
@keyframes skill-3{
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
}
.information{
    width: 80%;
    animation: skill-4 2s;
}
@keyframes skill-4{
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
}
/* recent */
.recent{
    height: auto;
    width: 100%;
    padding-bottom:100px; 
}
.recent-text{
    padding-top:100px; 
}
 hr{
    width: 40px;
    border-radius:3px; 
    border-top: 5px solid #ff6f61 !important;
}
.recent-text h3{
    color:#272460;
    font-size: 34px;
}
.recent-text p{
    font-size:16px;
    color:#8A8A8A; 
}
.card{
    border: none !important;
    box-shadow: none;
    text-align: left !important;
}
.card-body h3 a{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #343434;
}
.card-body h3 a:hover{
    text-decoration: none;
    color: #ff6f61;
    transition: all 0.3s ease-in-out;
}
.card-body p{
    color: #5E5E5E;
    font-size: 14px;
}
.card-body span a{
    color:#636363;
    font-size: 13px;
}
.card-body span a:hover{
    text-decoration: none;
}
/* testimonial */
.testimonial{
    background: url('images/testimonial-bg.jpg');
    height:auto;
    width: 100%;
    background-position: top center;
    background-size: 100% cover; 
    padding-top:100px ;
    padding-bottom: 100px;
}
.testimonial-text h3{
    padding-top:100px;
    font-size: 40px;
    font-weight: 700;
    text-transform: none;
    color: #ffffff;
}
.testimonial-text p{
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #c9c9c9;
}
#card{
    margin-top: 60px;
}
#card-body{
    padding:8px;
}
#card-title i{
    padding-top:20px;
    font-size:50px;
    color: #ff6f61;
}
#card-body p{

    padding-top:20px;
    color:#6f6f6f;
    font-size: 17px;
} 
.test-img{
    margin-top:7px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.testimonial h5{
    margin-top:7px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 700;
    text-transform: none;
}
.card-text{

    color: #8f8f8f;
    font-size: 15px;
    font-style: normal;
}
.news{
    background: url('images/newsletter-bg-2.png');
    height:auto;
    width: 100%;
    background-position: center;
    background-size: cover bottom;
    padding-top:100px ;
    padding-bottom:100px;
}
.news-text h3{
    font-size: 40px;
    font-weight: 700;
    text-transform: none;
    color: #272460;
}
.input{
    padding-top: 50px;
}
.news-text p{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #c9c9c9;
}
.newsletter-form{
    
    display: inline !important;
    padding: 0px 30px;
    background: #ffffff !important;    
    height: 70px !important;
    width: 400px !important;
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
}
.btn-subscribe{
    position: relative;
    top:-1px;
    left:-10px;
    display: inline;
    height:70px ;
    width: 150px ;
    background-color:#fa6e61!important; 
    color:#fff !important;
    font-size: 15px!important;
    padding: 13.5px 23px !important;
    font-weight: 500 !important;
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
}
/* footer */
.footer{
    background-color:#222222;
    padding-top:100px ;
    padding-bottom:100px;
}
.footer p{
    padding-top: 20px !important;
    padding: 2px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.7;
    word-spacing: 2px;
    font-family: 'barlow condensed', sans-serif;
}
.footer-col1-text{
    padding-top: 30px !important;
    padding: 2px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.7;
    word-spacing: 2px;
}
.footer h3{
    color: #FFFFFF;
    font-size: 18px;
}
.footer-col2-text{
    padding-top: 20px !important;
    color: #FFFFFF;
    font-size: 16px;
 
    word-spacing: 2px;
}
.footer-anchor{ 

    padding-left: 10px;
    color: #c05a50;
    text-decoration: none !important;
    cursor: pointer; 
    line-height: 1.7;
}
.footer-anchor:hover{
    color:#fff !important;
    text-decoration: none !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}
.footer-form{
    display: inline;
    padding: 0px 30px;  
    height: 50px !important;
    width: 300px !important;
}
.tnp-field-button{
        font-family: fontAwesome;
        content: "\f1d8";
        position: absolute;
        right: 18px;
        top: 50%;
        font-size: 16px;
        line-height: 20px;
        margin-top: -10px;
        pointer-events: none;
    }

/* lower-footer */
.footer-1{
    background-color:#222222;
    padding-top:20px ;

}
.footer-1 p{
    color:#A9A9A9;
    font-size:15px;
    padding-top: -16px;
    padding-left: 40px;
}
.footer-icon{
    color:#f5f5f5 !important;

}
.footer-icon:hover{
    color:#fa6e61 !important;
    transition: all 0.2s ease-in-out;
}